@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$yellow: #FFC619;
$orange: #FDA300;
$black: #182833;
$black-bis: #153040;
$blue: #1F4762;
$brown: #E09f5A;
$beige-lighter: #EFF0EB;
$white: #FFFFFF;

//$purple: #8A4D76;
//$pink: #FA7C91;
//$brown: #757763;
//$beige-light: #D0D1CD;
//$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $yellow;
$link: $black;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
$input-focus-border-color: transparent;
$input-hover-border-color: transparent;
$navbar-item-active-color: $primary;
// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
@import "./style.scss";
